<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883581912483-9st0vo4ekf8b2kug1i9ro0mfot13h2tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883581912483-9st0vo4ekf8b2kug1i9ro0mfot13h2tc</string>
	<key>API_KEY</key>
	<string>AIzaSyBSRztQttC9g3ah2keh2RYGG9r0GrHtydU</string>
	<key>GCM_SENDER_ID</key>
	<string>883581912483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kB2</string>
	<key>PROJECT_ID</key>
	<string>kombinb2</string>
	<key>STORAGE_BUCKET</key>
	<string>kombinb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883581912483:ios:2bca5756134bcc0d374616</string>
</dict>
</plist>